<div class="mybox">
  <h1>Welcome to Crud Operations on JSON-server</h1>
  <div style="border:2px groove;margin:5px;padding:5px" *ngIf="!this.editFlag">
    <input type="text" placeholder="Enter Title" [(ngModel)]="newPost.title"><br/>
    <input type="text" placeholder="Enter Author" [(ngModel)]="newPost.author"><br/>
    <button (click)="addPost()">Add Post</button>
  </div>
  <div style="border:2px groove;margin:5px;padding:5px" *ngIf="this.editFlag">
    <input type="text" placeholder="Enter Title" [(ngModel)]="edPost.title"><br/>
    <input type="text" placeholder="Enter Author" [(ngModel)]="edPost.author"><br/>
    <button (click)="updatePost()">Update Post</button>
  </div>
  <div style="border:2px dashed;margin:10px;padding:10px" *ngFor="let p of posts">
    <h1>{{p.title}}</h1>
    <i>{{p.author}}</i>
    <br/>
    <button (click)="deletePost(p.id)">Delete Post</button>
    <button (click)="editPost(p)">Edit</button>
  </div>
</div>

